/* variables */
:root {
    --text-color: #222;
    --text-color-light: #f4f4f4;
    --border-color: #EFEFEF;
    --main-bg: #40413E;
    --grey-bg: #E7E8E4;
    --orange: #E2872C;
}

/* common styles */
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

.slick-active {
    outline: none;
}

body {
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(116, 107, 107);
}

ul {
    list-style-type: none;
}

* a {
    text-decoration: none;
}
.container {
    width: 78%;
    margin: 0 auto;
    
}

header {
    background-color: var(--main-bg);
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    flex-grow: 1;
}
.header__nav-list{
    display: flex;
    justify-content: space-evenly;
}

.header__nav-list a {
    color: var(--text-color-light);
}

.header__nav-list li a:hover {
    color: #c0a97a;
}

.topslider__slide--1 {
    background: url('../images/slider/slide-1.jpg') 0 0 / 100% no-repeat;
}

.topslider__slide--2 {
    background: url('../images/slider/slide-2.jpg') 0 0 / 100% no-repeat;
}

.topslider__slide-btn {
    margin-top: 36px;
}

.btn {
    min-width: 220px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;  
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:focus {
    outline: none;
}

.btn-light {
    color: var(--text-color-light);
    border: 1px solid var(--text-color-light);
    background-color: rgb(244, 244, 244, 0.3);
}
.btn-light:hover {
    color: var(--text-color-light);
    border: 2px solid var(--orange);
    box-shadow: 0 0 0 2px var(--orange);
    background: var(--orange);
}

.btn-dark:hover {
    background: var(--orange);
    color: var(--text-color-light);
    border: 1px solid var(--text-color-light);
    box-shadow: 0 0 2px 1px var(--text-color-light);
    border-radius: 2px;
}

/* topslider */

.topslider__slide-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 510px;
    position: relative;
}

.topslider__slide-title {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2em;
}

.topslider__slide-title div {
    font-size: 20px;
    font-weight: 400;
    margin-top: 36px;
}

.topslider__slide-text {    
    position: absolute;
    left: 11%;
}

.slide-text-2 {
    color: var(--text-color-light);
}

/* benefits section*/
.benefits {
    position: relative;
    height: 575px;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 3%;
}

.benefits-text {
    color: var(--text-color-light);
}

.benefits-link img{
    max-width: 100%;
}
/* slider */
.slider {
    position: absolute;
    width: 100%;
    top: 77%;
    height: 40%;
}
.js-slider {
    position: relative;
    background: var(--grey-bg);
    height: 100%; 
    text-align: center; 
}
.slide-header {
    font-weight: normal;
    font-size: 26px;
    color: #7A7B79;
}

.slide-text {
    font-weight: normal;
    font-size: 26px;
}

.slide-btn {
    font-weight: bold;
    font-size: 16px;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    z-index: 2;
    font-size: 0;
    width: 27px;
    height: 54px;
}

.slick-prev{
    left: 3%;
    background: url('../images/ico/left-arrow.png') 0 0 / 100% no-repeat;
}

.slick-next{
    right: 3%;
    background: url('../images/ico/right-arrow.png') 0 0 / 100% no-repeat;
}

/* --- Categories --- */
.categories {
    background-color: var(--main-bg);
    height: 885px;
}

.categories__wrap {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); ;
    gap: 30px;
    padding-top: calc((575px*0.4)*0.6);
}

/* slick-dots 
.slick-dots {
    position: absolute;
    left: calc((100% - 1140px) / 2);
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  .slick-dots li {
    display: inline-block;
    margin-right: 22px;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
  }
   
  .slick-dots li.slick-active:before {
    content: '(';
    color: #000000;
  }
   
  .slick-dots li.slick-active:after {
    content: ')';
    color: #000000;
  }
   
  .slick-dots li.slick-active{
    transform: scale(1.4, 1.4)
  }
   
  .slick-dots li.slick-active button{
    color: #000000;
  }
   
  .slick-dots button{
    padding: 0;
    background: none;
    border: none;
    color: var(--text-color-light);
    cursor: pointer;
    transition: all 0.2s ease;
  }

   
.slick-dots button:before {
    content: '0';
  }
   
  .slick-dots button:hover {
    color: var(--text-color);
  }
   
  .slick-dots button:focus {
    outline: none;
  }
  .slick-dots li.slick-active:before {
    content: '(';
    color: #000000;
  }
  .slick-dots li.slick-active:after {
    content: ')';
    color: #000000;
  }
   
  .slick-dots li.slick-active{
    transform: scale(1.4, 1.4)
  }
      */